{% if user.is_authenticated %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-text mx-3">CardioApp</div>
    </a>

    <hr class="sidebar-divider my-0">

    <!-- Dashboard -->
    {% if user.es_admin %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_dashboard' %}">
            <span>Inicio</span>
        </a>
    </li>
    {% endif %}

    {% if user.es_medico %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'doctor_dashboard' %}">
            <span>Inicio</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'pacientes:lista' %}">
            <span>Pacientes</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'citas:lista' %}">
            <span>Citas Médicas</span>
        </a>
    </li>
    {% endif %}

    {% if user.es_paciente %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'paciente_dashboard' %}">
            <span>Mi salud</span>
        </a>
    </li>
    {% endif %}

</ul>
{% endif %}
